# Python
__pycache__/
*.pyc
*.pyo
*.pyd
backend/.venv/
backend/venv/

# Env
.env
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
*.log